<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kuke.sheet_music">

    <application
        android:name="com.kuke.common.application.KuKeyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity android:name=".module.main.view.MusicLibraryActivity"/>
        <activity android:name=".module.standard_music.view.StandardMusicActivity"/>
    </application>

</manifest>